.container{
  margin-left: 5%;
  margin-right: 5%;
}

.container h2 {
  text-align: center;
  width: 100%;
  font-size: 35px;
}
.container h3{
  text-align: center;
  width: 100%;
}
.container .items{
  width: 100%;
}
.img{
  width: 10%;
  margin-right: 10px;
}
img{
  width: 80%;
  border-radius: 5px;
}

li{
  display: flex;
  align-items: center;
  height: 150px;
  border-top: 1px solid gray;
}

.info{
  width: 60%;
}

.info p, h3{
  width: 60%;
  height: 40%;
  overflow: hidden;
}

.body-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

 a {
  cursor: pointer;
}

button{
  padding: 10px;
  background: #0c0c0c;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .info p{
   display: none;
   width: 40%;
  }
}
